<h1>Olá, Rafeek!</h1>

<p>
  Um novo contato foi realizado pelo site:
</p>

<table>
  <tr>
    <td>
      Nome do Contato
    </td>
    <td>
      <%= @data[:name] %>
    </td>
  </tr>

  <tr>
    <td>
      Email
    </td>
    <td>
      <%= @data[:email] %>
    </td>
  </tr>

  <tr>
    <td>
      Mensagem
    </td>
    <td>
      <%= @data[:message] %>
    </td>
  </tr>
</table>
