<h2 class="news" >Cadastre seu email e <br> receba nossas novidades</h2>
<%= form_tag newsletters_path, method: :post, class: 'form-inline' do %>
    <div class="form-group">
      <%= text_field_tag :email, nil, class:'form-control' %>
      <%= submit_tag 'Enviar', class: 'btn news_button form-control'  %>
    </div>
<% end %>
