<div id="raffles">
  <%= render 'pages/raffles', :raffles => raffles %>
</div>

<% unless controller.action_name.include? 'index' %>
    <div id="infinite-scrolling">
      <%= will_paginate raffles %>
    </div>
<% end %>

<%= javascript_include_tag 'jquery.lazyload', 'pagination' %>
<script type="text/javascript">
  $("img").lazyload();
  $(document).ready(function(){
    normal_height('#raffles > div')
    $(".rifa_actions").css({'position': 'absolute', 'bottom': '1em', 'width': '90%'});
  });
</script>
