<div id="raffles">
  <% raffles.each do |raffle| %>
    <%= render 'pages/raffles', :raffle => raffle %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    normal_height('#raffles > div')
    $(".rifa_actions").css({'position': 'absolute', 'bottom': '1em', 'width': '90%'});
  });
</script>
