<div class="dir">
    <div class="raf">
        <h2 class="title_padrao">Como  Funciona</h2>
        <div class="help">
          <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5"><%= image_tag("RAF_h.png") %></div>
            <div class="col-xs-12 col-sm-7 col-md-7">
              <br><br><br>
              <h2>BEM VINDO À RAFEEK RIFAS</h2>
              <p>
                A primeira rifa online dedicada aos Nerds!<br><br>
              </p>
              <p>
                Abaixo você vai conferir como funciona nosso serviço e logo
                estará concorrêndo a vários prêmios !
              </p>
            </div>
          </div>
          <div class="row">
            <p>
              <br>
              Antes de investir nas Rifas será necessário fazer um Login com
              senha em nosso site.<br>Caso ainda não tenha basta se cadastrar.<br>
              É rapidinho e seguro, precisamos apenas de algumas informações
              para te identificar.<br><br>
            </p>
            <p>
              Realizado o Login já podemos partir para o que interessa, as Rifas!<br>
              É claro que para isso você terá que ter Pontos.<br><br>
              <p>
                Deixe-me te explicar melhor:<br><br>
              </p>
            </p>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5">
              <p>
                Nossas rifas são cobradas em pontos.<br>Esses pontos são vendidos em
                 pacotes divididos em Classes,de Novice à Paladin.
              </p>
              <p>
                Você deverá
                comprar um, ou mais, pacotes de pontos e com os pontos em sua
                conta poderá investir nas variadas rifas pelo site.<br><br><br><br>
              </p>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7"><%= image_tag("CLASSES_h.png") %></div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">
              <p>
                Agora é só se aventurar pelo mundo das rifas nerds e investir
                quantas vezes puder e quiser nos prêmios que mais te interessam.
                O seu saldo de pontos é acumulativo então não se preocupe, se
                seus pontos acabarem ou não houver pontos suficientes para
                investir, compre novos pacotes e pontos e boa sorte!<br><br>
              </p>
              <p>
              Temos um amplo número de categorias no catálogo de rifas que está
              em constante crescimento. <br>
              Temos certeza que terá algo que você deseja. XD<br><br><br><br>
              </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4"><%= image_tag("CATEGORIAS_h.png") %></div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">
              <p>
                Cada rifa possui um período de vigência e um numero mínimo que
                deve ser vendido para ser sorteada.Caso alguma rifa não atinja
                esta estimativa dentro do tempo, os pontos retornarão a seus
                investidores e a venda da rifa recomeçará.<br>
              </p>
              <p>
                Após o sorteio o vencedor será avisado por email e também anunciado
                 no site.<br>Algumas rifas especiais podem dar descontos para os
                 investidores que não venceram o sorteio.<br>
              </p>
              <p>
                As chances não estão perdidas!<br><br><br><br>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4"><%= image_tag("BILHETES_h.png") %></div>
            <div class="col-xs-12 col-sm-9 col-md-9">
              <p>
                Se você for o sorteado seu prêmio será enviado, sem custo
                adicional, para o endereço informado em sua conta. Em alguns
                casos poderemos entrar em contato antes de despachar o prêmio,
                então fique ligado nos meios de contato que nos informar em seu
                cadastro.<br><br>
              </p>
              <p>
                Pelo Perfil do usuário você poderá editar sua conta e seus dados,
                 conferir os tickets de rifas adquiridos assim como as datas de
                 sorteio, e também ver seus pontos disponíveis além de seu
                 histórico de investimentos.<br><br><br><br>
              </p>
            </div>
          </div>
          <div class="row">
            <p>
              Se ainda restaram dúvidas entre em contato, nossa equipe irá te
              atender o mais rápido possivel.
            </p>
          </div>
      </div>
    </div>
</div>
