<%= render partial: "pages/slide", :winners => @winners %>
</div>
<div class="dir">
    <div class="raf">
        <h2 class="title_padrao">Lançamentos</h2>
        <div class="row">
          <%= render partial: 'raffles_collection', locals: { raffles: @raffles } %>
        </div>
        <%= render partial: 'partners', locals: { partners: @partners } if @partners.present? %>
    </div>
</div>
