<div class="dir">
    <div class="raf">
        <h2 class="title_padrao">Lançamentos</h2>
        <div class="row">
          <% @raffles.each do |raffle| %>
            <%= render 'pages/raffles', :raffle => raffle %>
          <% end %>
        </div>
        <% if @partners.present? %>
          <h2 class="title_padrao">Nossos parceiros</h2>
          <div class="parceiros">
            <% @partners.each do |partner| %>
                  <div class="parceiros_item">
                    <%= link_to image_tag(partner.avatar.url), partner.url, target: '_blank' %>
                  </div>
            <% end %>
          </div>
        <% end %>
    </div>
</div>
