<div class="dir">
    <div class="raf">
        <h2 class="title_padrao">Todas as Rifas</h2>
        <div class="row">
            <div class="busca">
              <%= form_tag pages_raffles_path, :method => 'get', :id => "raffles_search" do %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Buscar", :title => nil, class: 'busca-item-btn' %>
              <% end %>
            </div>
            <%= render partial: 'raffles_collection', locals: { raffles: @raffles } %>
        </div>
    </div>
</div>
