<div class="dir">
    <div class="raf">
        <h2 class="title_padrao">Categorias</h2>
        <div class="row">
          <% @raffles.each do |raffle| %>
            <%= render 'pages/raffles', :raffle => raffle %>
          <% end %>
        </div>
    </div>
</div>
