<div class="dir">
    <div class="raf">
        <h2 class="title_padrao">Novas</h2>
        <div class="row">
          <%= render partial: 'raffles_collection', locals: { raffles: @raffles_new } %>
        </div>
    </div>
</div>
