<div class="dir">
    <div class="raf">
        <h2 class="title_padrao"><%= @page_title %></h2>
        <div class="row">
          <%= show_raffles(@raffles_categories) %>
        </div>
    </div>
</div>
