<div class="dir">
    <div class="raf">
        <h2 class="title_padrao">Hot</h2>
        <div class="row"> 
          <% @raffles_hot.each do |raffle| %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <%= image_tag raffle.avatar.url %>
                    <div class="caption rifa">
                        <h3><%= raffle.title %></h3>
                        <p><%= raffle.description %></p>
                        <h3 class="bilhetes_preco_t"><%= raffle.points %></h3>
                        <p>
                            <a href="rifa.php" class="btn btn-primary bilhetes_button" role="button">Investir</a>
                        </p>
                        <h2 class="bilhetes"><img src="../images/bol.png"/> Disponíveis <img src="../images/bol_r.png"/> Vendidos</h2>
                        <div class="progress">

                            <div class="progress-bar progress-bar-danger" style="width: 90%">
                                <span class="sr-only">90 Compradas</span>
                            </div>
                            <div class="progress-bar" style="width: 10%">
                                <span class="sr-only">10 Restantes</span>
                                10
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
