<div class="dir">
    <div class="raf">
        <h2 class="title_padrao">Categorias</h2>
        <div class="row">
          <div id="raffles"><%= render 'raffles' %></div>
        </div>
    </div>
</div>
