
            <ul class="menu-perfil">
              <a href="pconta.php"><li class="menu-perfil-item">Editar Conta</a>
              <a href="pperfil.php"><li class="menu-perfil-item">Editar Perfil</a>
              <a href="pbilhetes.php"><li class="menu-perfil-item">Meus Bilhetes</a>
              <a href="ppontos.php"><li class="menu-perfil-item">Meus Pontos</a>
            </ul>
