<div class="content">
    <div class="dir">
        <div class="perfil">
            <%= render partial: 'user/user_nav' %>
            <div class="perfil_desc">
                  <div class="caption rifa">
                      <h3>Editar Conta</h3>
                      <div class="form-group">
                          <p>Nome:</p>
                          <input type="text" class="form-control i-perfil" placeholder="Nome">
                          <p>Email:</p>
                          <input type="text" class="form-control i-perfil" placeholder="Email">
                          <p>Senha:</p>
                          <input type="text" class="form-control i-perfil" placeholder="Senha">
                          <p><input type="submit" class="btn btn-perfil" name="submit" value="Salvar"></p>
                      </div>
                  </div>
              </div>
        </div>
    </div>
</div>
