<div class="content">
    <div class="dir">
        <div class="perfil">
            <%= render partial: 'user/user_nav' %>
            <div class="perfil_desc">
                  <div class="caption rifa">
                      <h3>Meus Pedidos</h3>
                      <%= show_performed_transaction(@performed_transactions) %>
                  </div>
              </div>
        </div>
    </div>
</div>
