@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    top: 200px;
    background: #f2f2f2;
    margin: 120px auto;
    border-radius: 4px;
    border: solid 5px #E9F9FF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    color: #fff;
    font-weight: 300;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}

.logout-btn{
  background: #D32F3D !important;
}

.actions-buttons{
  width: 100%;
}

.actions-buttons input{
  width: auto;
  position: relative;
  right: 0;
  float: right;
  height: auto;
  border-radius: 0;
  background: #00B1F4;
  border: none;
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
}

.actions-buttons input:hover{
  background: #4DCEFF;
}

.cancel-button input{
  background: #f2f2f2;
  color: #ccc;
}

.cancel-button input:hover{
  background: #ccc;
  color: #f2f2f2;
}

.back-button{
  width: auto !important;
  height: auto !important;
  border-radius: 0 !important;
  background: #1CCC5D !important;
  border: none !important;
  text-transform: uppercase !important;
  color: #fff !important;
  float: left !important;
  padding: 10px  !important;
}

.btn-login-facebook{
  background: #337ac4;
  padding: 15px;
  border-radius: 4px;
  color: #fff !important;
  margin: 0 auto;
  width: 100%;
  text-decoration: none !important;
  margin-top: 10px;
}

.btn-login-facebook:hover{
  .background: #5491d1 !important;
}

.sign-button{
  background: #1CCC5D !important;
}

.sign-button:hover{
  .background: #6ae196 !important;
}

.login-button{
  background: #00B1F4 !important;
  border: none;
  margin-bottom: 0 !important;
}

.login-button:hover{
    background: #6ae196 !important;
}

/*-------------------------INICIO MOBILE--------------------------*/

.busca{
  width: 264px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;
}

.busca-item-btn{
  background: #333;
  border: none;
  padding: 12px;
  color: #fff;
  font-family: ERASMD;
  position: relative;
  top: -1px;
}

.busca-item-btn:hover{
  background: #222;
}

.form-package{
  width: 100%;
  font-family: ERASMD;
}

.package-img{
  width: 27% !important;
}

.saldo{
  color: #3777ff;
  font-size: 2em;
  font-family: ERASBD;
}

.bloco{
    max-width: 1280px;
    margin: 0 auto;
}

.user-logged{
  color: #fff;
  position: relative;
  top: -27px;
  z-index: 999;
}

.login-btn, .logout-btn{
  padding: 5px !important;
  font-size: 1em !important;
  position: relative;
  top: -29px;
}

@font-face {
    font-family: ERASBD;
    src: url(../fonts/ERASBD.TTF);
}
@font-face {
    font-family: ERASDEMI;
    src: url(../fonts/ERASDEMI.TTF);
}
@font-face {
    font-family: ERASLGHT;
    src: url(../fonts/ERASLGHT.TTF);
}
@font-face {
    font-family: ERASMD;
    src: url(../fonts/ERASMD.TTF);
}

tr.t-head:nth-child(even) { background: white; }
tr.t-head:nth-child(odd) { background: #d5d5d5 ; }

tr.t-head:nth-child(even):hover { background: white; }
tr.t-head:nth-child(odd):hover { background: #d5d5d5 ; }


.winner_ticket{
  width: 400px;
  margin: 40px auto !important;
  position: relative;;
  top: 20px;
  padding: 10px 50px;
  border: solid 3px #fff;
  background: rgba(0,0,0,0.7);
}

.winner_ticket img{
  border: solid 2px #fff;
}

.winner_ticket h2, h3, h4, h5, h6{
  color: #fff ;
}

.winner_ticket h2{
  font-family: ERASBD !important;
  font-size: 1.5em;
}

.winner_ticket h3{
  font-family: ERASbd !important;
  font-size: 1em;
}


table.t {
  font-family: ERASLGHT !important;
  border: none !important;
}

h3, h4, h5, h6{
    font-family: ERASBD !important;
}

h2, p, a{
    font-family: ERASMD !important;
}

.share{
    width: 55%;
    margin: 0 22.5%;
}

.share li{
    width: 30%;
    margin: 1%;
    display: inline-block
}

.raf_item{
    width: 97%;
    margin: 1.5%;
    background: #fff;
    padding: 1.5%;
    float: left;
    position: relative;
    box-shadow:  0 0 5px  #333;
}

.raf_item img{
    width: 100%;
    float: left;
    position: relative;
}

.raf_item p{
    margin: 10px 0;
}

.raf_item_desc{
    width: 100%;
    float: left;
    position: relative;
}

.raf_item_desc a, .btn-inv{
    width: 48% !important;
    float: right;
    padding: 15px !important;
    margin: 0 !important;
}

.raf_item_desc h4{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.menu-perfil{
  width: 100%;
  color: #fff;
  border-bottom: solid 1px #f2f2f2;
}


.menu-perfil a{
  width: 100%;
  text-align: center;
  text-decoration: none !important;
  color: #337ab7 !important;
  text-transform: uppercase;
}

.perfil{
    width: 97%;
    margin: 1.5%;
    background: #fff;
    padding: 1.5%;
    float: left;
    position: relative;
    box-shadow:  0 0 5px  #333;
}

.help{
    width: 97%;
    max-width: 1280px;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
    box-shadow:  0 0 5px  #333;
}

.help p{
  font-size: 1em;
}

.help h2{
  font-size: 1.5em;
}

.perfil img{
    width: 100px;
    float: left;
    position: relative;
}

.perfil p{
    margin: 10px 0;
}

.btn-perfil{
  background: #4DCEFF;
  color: #fff;
  position: relative;
}

.perfil_desc{
    width: 100%;
    float: left;
    position: relative;
}

.perfil_desc a{
    width: 48%;
    float: right;
    padding: 15px;
    margin-bottom: 0;
}

.perfil_desc h3{
    text-align: center;
    font-size: 1.5em;
}

.i-perfil{
  width: 90% !important;
  max-width: none !important;
}

.bilhetes img{
    width: 10px;
    margin: 0 10px;
}

.top{
    margin-top: 95px;
}

.title_padrao{
    font-family: ERASBD !important;
    margin: 10px auto;
    font-size: 2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.conteudo{
    width: 100%;
    background-image: url(../images/bg_site.jpg)
}

.content{
    width: 100%;
    position: relative;
    float: left;
    background: transparent;
    height:100%;
    background-size:50px 50px;
}

.topo{
    width: 100%;
    position: relative;
    z-index: 101;
    margin-top: 40px;
}

.topo img{
    width: 100%;
}

.topo_desc{
    position: relative;
    width: 100%;
    height: 180px;
    bottom: 0;
    top: 0;
    padding: 13% 18%;
    z-index: 102;
    border-bottom: solid 5px #E9F9FF;
}

.topo_desc h1{
    text-align: center;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    font-family: ERASBD;
}

.topo_desc h2{
    text-align: center;
    font-size: 0.875em;
    color: #fff;
    font-weight: bold;
    font-family: ERASBD;
}

.desc{
    width: 100%;
    float: left;
    position: relative;
}

.m-hulk{
    width: 20% !important;
    max-width: 280px !important;
    float: left !important;
    position: absolute;
    bottom: 0;
    left: 0;
}

.m-spider{
    width: 20% !important;
    max-width: 280px !important;
    float: right !important;
    position: absolute;
    top: 0;
    right: 0;
}

.fixar_logo{
    top: 0 !important;
    position: fixed !important;
    z-index: 998;
    background: rgba(0,0,0,0.9) !important;
}

.fixar_logo img{
    width: 130px !important;
}

.fixar_login{
    top: 30px !important;
}

.logo{
    width: 100%;
    float: left;
    top: 50px;
    position: absolute;
    z-index: 998;
    transition: all 0.5s ease !important;
}

.logo img{
    width: 40%;
    max-width: 130px;
    margin: 2.5px;
}

.login{
    width: 100%;
    height: 50px;
    background: #010c29;
    padding: 8px;
    text-align: right;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all 0.5s ease !important;
    box-shadow:  0 0 5px  #333;
}

.login a button{
    padding: 5px;
    float: right;
    position: relative;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}


.login a:hover{
    cursor: pointer;
    color: #333;
}

.robo{
    display: none;
}

.mobile_action{
    width: 35px;
    height: 35px;
    float: left;
    position: relative;
    top: 0;
    border: solid 1px #051e5f;
    box-shadow: 0 0 10px #333;
    background: url(../images/mobile.png) center center no-repeat;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.mobile_action:hover{
    cursor: pointer;
}

.active_topo{
    background: url(../images/mobile_hover.png) center center no-repeat;
}

.mobile_action_side{
    width: 35px;
    height: 35px;
    float: left;
    position: relative;
    top: 0;
    border: solid 1px #051e5f;
    box-shadow: 0 0 10px #333;
    background: url(../images/cat.png) center center no-repeat;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

.mobile_action_side:hover{
    cursor: pointer;
}

.active_side{
    background: url(../images/cat_hover.png) center center no-repeat;
}

.menu_topo{
    left: -100%;
    top: 95px;
    width: 76%;
    height: 100%;
    min-width: 200px;
    max-width: 250px;
    background: #333;
    z-index: 998;
    position: fixed;
    border-left: none;
    overflow: hidden;
    overflow-y: auto;
}

.menu_topo img{
    width: 40px;
    height: 40px;
}

.menu_topo_item{
    width: 100%;
    float: left;
    padding: 15px;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
    font-family: ERASLGHT;
}

.menu_topo_item:hover{
    color: #fff !important;
    cursor: pointer;
    border-right: solid 5px #E32741;
}

.menu_side{
    left: -100%;
    top: 95px;
    width: 76%;
    height: 100%;
    min-width: 200px;
    max-width: 250px;
    background: #333;
    position: fixed;
    z-index: 998;
    overflow: hidden;
    overflow-y: auto;
    border-left: none;
}

.menu_side_item{
    width: 100%;
    padding: 10px;
    float: left;
    color: #fff;
}

.menu_side_item a{
    font-size: 1em;
    color: #fff;
    text-decoration: none !important;
}

.menu_side_item a:hover{
    color: #fff !important;
}

.menu_side_item:hover{
    cursor: pointer;
    border-right: solid 5px #00B1F4;
}

.menu_side_item img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.menu_side_sub{
    float: left;
    width: 100%;
    padding: 10px;
    background: #333;

}

.menu_side_sub_item{
    float: left;
    width: 100%;
}

.menu_side_sub_item a{
    float: left;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}

.menu_side_sub_item a:hover{
    background: #00B1F4;
}

/*SLIDE*/

.slide{
    width: 100%;
    float: left;
    position: relative;
    background: rgba(200,200,200,0.4);
    //height: 553.94px;
    height: auto;
}

.slide_controll{
    width: 96%;
    margin-left: 2%;
    float: left;
    position: absolute;
    bottom: 40px;
}

.slide_nav{
    position: absolute;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 89;
}

.slide_nav.back{
    left: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

.slide_nav.go{
    right: 0;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.slide_item{
    width: 96%;
    margin: 2%;
    height: auto;
}

.slide_item_win{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    margin: 0;
    z-index: 11;
}


.slide_item_win_foto{
    width: 43%;
    position: relative;
    margin: 0;
    float: right;
    background: #fff;
}

.slide_item_win_foto img{
    width: 100%;
}

.slide_item_win_desc{
    width: 100%;
    float: right;
    margin: 0;
}

.slide_item_win_desc h2{
    text-align: right;
    color: #000;
    font-size: 2em;
    margin: 10px;
}

.slide_item_win_desc h3{
    text-align: right;
    color: #000;
    font-size: 1em;
    margin: 10px;
}

.slide_item_win_desc h4{
    text-align: right;
    color: #fff;
    font-size: 1.5em;
    margin: 10px;
}

.slide_item_win_desc h5{
    text-align: right;
    color: #000;
    font-size: 1.5em;
    margin: 10px;
}

.slide_item_win_desc h6{
    text-align: right;
    color: #fff;
    font-size: 1.7em;
    margin: 10px;
}

.slide_item_rifa{
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
    float: left;
    position: relative;
}

.slide_item_rifa img{
    width: 100%;
}

.slide_item_rifa_nome{
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
}

.slide_item_rifa_nome h1{
    font-size: 1.2em;
    color: #fff;

}

.slide_item_rifa_img{
    width: 100%;
    float: left;
    position: relative;
}

.slide_item_rifa_img img{
    width: 90%;
    margin: 5%;
    position: relative;
    left: 0;
    border: solid 5px #E9F9FF;
    box-shadow:  0 0 10px  #333;

}

.slide_item_rifa_desc{
    width: 90%;
    float: left;
    position: relative;
    margin: 5%;
    background: #fff;
    border: solid 5px #E9F9FF;
    box-shadow:  0 0 5px  #333;
    padding: 5px;
}

.slide_item_rifa_desc h2{
    font-size: 1em;
    color: #333;
    font-weight: 300;
    margin-bottom: 5px;
}

/*FIM SLIDE*/

/*GANHADORES*/

.ganhadores{
    width: 100%;
}

.slideg{
    width: 98%;
    margin: 1%;
    float: left;
    background: rgba(200,200,200,0.4);
    //height: 553.94px;
    height: auto;
}

.slideg_item{
    width: 96%;
    margin: 2%;
    height: auto;
}

.slideg_item_win{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    margin: 0;
    z-index: 11;
}

.slideg_item_win_foto{
    width: 43%;
    position: relative;
    margin: 0;
    float: right;
    background: #fff;
}

.slideg_item_win_foto img{
    width: 100%;
}

.slideg_item_win_desc{
    width: 100%;
    float: right;
    margin: 0;
}

.slideg_item_win_desc h2{
    text-align: right;
    color: #000;
    font-size: 2em;
    margin: 10px;
}

.slideg_item_win_desc h3{
    text-align: right;
    color: #000;
    font-size: 1em;
    margin: 10px;
}

.slideg_item_win_desc h4{
    text-align: right;
    color: #fff;
    font-size: 1.5em;
    margin: 10px;
}

.slideg_item_win_desc h5{
    text-align: right;
    color: #000;
    font-size: 1.5em;
    margin: 10px;
}

.slideg_item_win_desc h6{
    text-align: right;
    color: #fff;
    font-size: 1.7em;
    margin: 10px;
}

.slideg_item_rifa{
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
    float: left;
    position: relative;
}

.slideg_item_rifa img{
    width: 100%;
}

.slideg_item_rifa_nome{
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
}

.slideg_item_rifa_nome h1{
    font-size: 1.2em;
    color: #fff;

}

.slideg_item_rifa_img{
    width: 100%;
    float: left;
    position: relative;
}

.slideg_item_rifa_img img{
    width: 90%;
    margin: 5%;
    position: relative;
    left: 0;
    border: solid 5px #E9F9FF;
    box-shadow:  0 0 10px  #333;

}

.slideg_item_rifa_desc{
    width: 90%;
    float: left;
    position: relative;
    margin: 5%;
    background: #fff;
    border: solid 5px #E9F9FF;
    box-shadow:  0 0 5px  #333;
    padding: 5px;
}

.slideg_item_rifa_desc h2{
    font-size: 1em;
    color: #333;
    font-weight: 300;
    margin-bottom: 5px;
}


/*GANHADORES*/

.destaques_title{
    width: 96%;
    margin: 2%;
    float: left;
    position: relative;
    background: #E32741;
    border: solid 5px #A90008;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
}

.destaques_title h2{
    font-size: 2em;
    color: #fff;
}

.raf{
    width: 96%;
    margin: 2% auto;
    max-width: 1280px;
}

.packs{
    width: 96%;
    margin: 2% auto;
    max-width: 251.75px;
}

.categorias{
    width: 96% !important;
    margin-top: 95px !important;
}

.newsletter{
    width: 100%;
    float: left;
    position: relative;
}

.newsletter img{
    width: 180px;
    float: right;
    position: relative;
    margin-right: 50%;
    margin-top: 2%;
    right: -90px;
}

.news{
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
}


/*PARCEIROS*/

.parceiros{
    width: 96%;
    float: left;
    position: relative;
    margin: 2%;
    background: rgba(200,200,200,0.4);
}

.parceiros_item{
    width: 20%;
    margin: 2% 6.65%;
    float: left;
    height: auto;
    position: relative;
}

.parceiros_item img{
    width: 100%;
    float: left;
    margin: 0;
    margin-bottom: 10px;
}

/*FIM PARCEIROS*/

.bottom{
    width: 100%;
    float: left;
    position: relative;
    background: #519bd1;
}

.sobre,
.social,
.contato{
    width: 90%;
    margin: 5%;
    float: left;
    position: relative;
    padding: 10px;
}

.copyright{
    width: 100%;
    float: left;
    position: relative;
}

.sobre{
    background: rgba(200,200,200,0.4);
}

.sobre h2{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}

.sobre h3{
    font-size: 1em;
    color: #fff;
    text-align: justify;
    font-weight: 300;
}

.social{
    border-top: solid 1px #fff;
}

.social img{
    width: 25%;
    float: left;
    margin: 4%;
}

.social h2{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}

.contato{
    border-top: solid 1px #fff;
}

.contato h2{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}

.contato a{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    margin-left: 10px;
}

.contato_item{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.contato img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.copyright{
    text-align: center;
}

.copyright a{
    font-size: 0.7em;
    color: #fff;
}

.rifas{
    width: 96%;
    float: left;
    position: relative;
    margin: 2%;
    background: rgba(200,200,200,0.4);
}

.rifas h2{
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    color: #fff;
}

.rifas img{
    width: 100px;
    height: 100px;
    left: -50px;
    margin: 2% 50%;
}

.img-rifa-bot{
    width: 30%;
    position: absolute;
    float: right;
    right: 0;
    top: -30px;
    padding: 10px;
}

.top_pont{
    margin-top: 0 !important;
}

.ponto {
    width: 94%;
    position: relative;
    float: left;
    margin: 0 3%;
    height: 393px;
    border-bottom: solid 8px #fff;
    margin-top: 15px;
}

.pontos_img{
    width: 49%;
    position: absolute;
    float: left;
    left: 0;
    bottom: 0;
}

.pontos_desc {
    width: 96%;
    position: absolute;
    float: right;
    top: 0;
    margin-left: 2%;
    margin-bottom: 15px;
    text-align: left;
}

.pontos_desc_text {
    width: 100%;
    position: relative;
    float: left;
}

.pontos_desc_text b{
    font-family: ERASDEMI;
    font-size: 2em;
    color: #fff;
    margin-right: 40px;
}

.pontos_desc_text p{
    font-family: ERASMD;
    color: #fff;
    font-size: 1.2em;
}

.pontos_desc_price {
    width: 81%;
    position: absolute;
    float: right;
    bottom: 16%;
    margin-left: 1%;
    right: 0;
    text-align: right;
}

.pontos_desc_price b {
    font-family: ERASDEMI;
    font-size: 1.7em;
    color: #fff;
}

.pontos_desc_price c{
    font-family: ERASDEMI;
    font-size: .5em !important;
    color: #fff;
    margin-left: 10px;
}

.ponto a {
    width: 121px;
    position: absolute;
    float: right;
    right: -4%;
    bottom: 0;
    padding: 8px !important;
    margin: 10px;
    margin-top: 0;
    font-family: ERASBD !important;
    font-size: 1.5em;
}

/*---------------------------FIM MOBILE--------------------------*/


/*-------------------------INICIO 480PX--------------------------*/
@media (min-width: 30em){


    .topo_desc h1{
        font-size: 2em;
    }

    .topo_desc h2{
        font-size: 1em;
    }

    .topo_desc{
        height: 300px;
    }

    .packs{
        max-width: 418.7px;
    }

    .pontos_img {
        width: 36%;
    }


    .pontos_desc {
        width: 80%;
        margin-left: 29%;
    }

    .ponto {
        height: 281px;
    }


    .pontos_desc_price {
        width: 81%;
        bottom: 22%;
        margin-left: 1%;
    }

    .ponto a {
        right: -2%;
    }

    .pontos_desc_text {
        width: 89%;
        text-align: justify;
    }

}
/*---------------------------FIM 480PX--------------------------*/


/*-------------------------INICIO 592PX--------------------------*/
@media (min-width: 37em){

    .topo_desc{
        height: 350px;
    }

    .topo_desc h1{
        font-size: 2.5em;
    }

    .topo_desc h2{
        font-size: 1.5em;
    }

    .button_news{
        width: 50%;
        margin-left: 25%;
    }

    .parceiros_item{
        width: 45%;
        margin: 2.5%;
    }


    .contato{
        width: 50%;
        float: right;
        border: none;
        border-left: solid 1px #fff;
        margin: 0;
    }

    .social{
        width: 50%;
        float: left;
        border: none;
        margin: 0;
    }

    .raf_item img{
        width: 48%;
        margin: 1%;
        float: left;
    }

    .bilhetes img{
        width: 10px;
        margin: 0 10px;
    }

    .raf_item_desc{
        width: 48%;
        margin: 1%;
        float: right;
    }

    .raf_item_desc a{
        width: 48% !important;
        float: right;
        margin-bottom: 10px;
        margin: 0;
    }
    /*GANHADORES*/

    .slideg{
        width: 49.5%;
        margin: 0.25%;
    }

    /*GANHADORES*/

    .slide_item_rifa{
        width: 50%;
        position: absolute;
    }

}

/*---------------------------FIM 592PX--------------------------*/


/*-------------------------INICIO 768PX--------------------------*/
@media (min-width: 48em){
    .topo_desc{
        height: 400px;
    }

    .slide_item_win_foto{
        width: 150px;
    }

    .slide_item_rifa{
        width: 38%;
    }

    .packs{
        max-width: 679.5px;
    }

    .pontos_img {
        width: 31%;
    }

    .ponto:nth-child(odd) .pontos_img {
    }

    .ponto:nth-child(even) .pontos_img {
        left: auto;
        right: 0;
    }

    .pontos_desc {
        width: 50%;
        margin-left: 26%;
    }

    .pontos_desc_price {
        width: 56%;
        margin-right: 30%;
    }

    .ponto a {
        right: 28%;
    }

    .ponto {
        height: 253px;
    }

}
/*---------------------------FIM 768PX--------------------------*/


/*-------------------------INICIO 960PX--------------------------*/
@media (min-width: 60em){

    .title_padrao{
        font-size: 3em;
    }

    .topo_desc{
        height: 550px;
    }

    .topo_desc h1{
        font-size: 3em;
    }

    .topo_desc h2{
        font-size: 1em;
    }

    .button_news{
        width: 30%;
        margin-left: 35%;
    }

    .parceiros{
        width: 100%;
        margin: 0 auto;
    }

    .parceiros_item{
        width: 20%;
        margin: 2% 6.5%;
    }

    .sobre{
        width: 29.33%;
        margin: 2%;
        float: left;
    }

    .contato{
        width: 29.33%;
        margin: 2%;
        float: left;
    }

    .social{
        width: 29.33%;
        margin: 2%;
    }

    .img-logo-bot{
        width: 29.33%;
        position: absolute;
        float: left;
        left: 0;
    }

    .img-rifa-bot{
        width: 20%;
    }


    /*GANHADORES*/

    .slideg{
        width: 32.833333%;
        margin: 0.25%;
    }

    .mtop{
        margin-top: 2%;
    }

    .slide_item_win_desc{
        width: 68% !important;
    }

    .slide{
        height: 400px;
    }

    .slide_item_win{
        height: 400px;
    }

    .slide_item_win_desc h4{
        font-size: 2.5em;
    }

    .slide_item_win_foto{
        width: 200px;
    }

    /*GANHADORES*/
}
/*---------------------------FIM 960PX--------------------------*/


/*-------------------------INICIO 1280PX--------------------------*/
@media (min-width: 79.9em){


    .help{
        width: 100%;
        padding: 40px 77px;
    }

    .help p{
      font-size: 24px;
      margin: 0 15px;
    }

    .help h2{
      font-size: 42px;
      margin: 0 15px;
    }

    .busca{
      position: absolute;
      top: 6px;
      right: 5px;
      margin-bottom: 0;
    }

    .busca-item-btn:hover{
      background: #222;
    }

    .user-logged{
      color: #fff;
      position: relative;
      top: -10px;
    }
    .login-btn, .logout-btn {
        top: 0;
    }

    .top{
        margin-top: 80px;
    }

    .topo_desc{
        height: 620px;
    }

    .topo_desc h1{
        font-size: 3.5em;
    }

    .topo_desc h2{
        font-size: 2em;
    }

    .esq{
        width: 96%;
        //position: relative;
        //float: left;
        margin: 0;
        padding-top: 2%;
        padding-bottom: 0;
        margin: 0 auto;
        max-width: 1280px;
    }
    .dir{
        width: 100%;
        position: relative;
        float: right;
        margin: 0;
        padding: 2%;
        padding-top: 0;
    }

    .mobile_action_side,
    .mobile_action{
        display: none;
    }

    .login{
        width: 18%;
        position: fixed;
        padding: 0;
        float: right;
        right: 10px;
        top: 10px;
        background: none;
        border: none;
        box-shadow: none;
    }

    .fundo_menu{
        width: 100%;
        height: 80px;
        position: fixed;
        z-index: 997;
        top: 0;
    }

    .fixar_fundo{
        background: rgba(0,0,0,0.9) !important;
    }

    .logo{
        width: 505px;
        top: 0;
        margin: 10px;
    }

    .logo img{
        width: 100%;
        max-width: none;
        margin: 0;
    }

    .login a button{
        padding: 10px;
        font-size: 1.2em;
        margin-right: 10px;
    }

    .topo{
        margin-top: 0;
    }

    .fixar_logo{
        top: 0 !important;
        margin: 10px !important;
        width: 15% !important;
        position: fixed !important;
        background: none !important;
    }

    .fixar_logo img{
        width: auto !important;
        width: 100% !important;
    }

    .fixar_login{
        top: 10px !important;
    }

    .fixar_menu{
        top: 0 !important;
    }

    .menu_topo{
        width: 897px;
        max-width: none;
        height: 100px;
        margin: 0;
        margin-left: 50%;
        left: -448.5px;
        top: 500px;
        position: fixed;
        background: none;
        border: none;
        transition: all 0.5s ease !important;
        z-index: 999;
        overflow: hidden;
    }

    .menu_topo_item{
        padding: 10px;
        width: auto;
        margin: 10px;
        background: none;
        float: left;
        position: relative;
        font-size: 1.2em;
        color: #fff !important;
        font-weight: 300;
        top: 8px;
    }

    .menu_topo_item:hover{
        border: none;
        border-bottom: solid 5px #00B1F4;
    }

    .menu_topo_item img{
        margin-right: 5px;
    }

    .slide{
        width: 76%;
        margin: 0;
        position: relative;
        float: right;
        height: 450px;
    }

    .menu_side{
        width: 22%;
        height: auto;
        left: 0;
        top: 0;
        float: left;
        position: relative;
        margin: 0;
        max-width: none;
        z-index: 0;
    }

    .raf{
        width: 100%;
        margin: 0 auto;
    }

    .packs{
        width: 100%;
        margin: 0 auto;
    }

    .raf_item{
        width: 100%;
        margin: 0;
        margin-top: 2.6%;

    }

    .perfil{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        margin-top: 2%;
    }

    .menu-perfil a{
        width: 24.5%;
        position: relative;
        display: inline-block;
    }

    .slide_item_rifa{
        width: 45%;
        max-width: 550px;
    }

    .top_pont{
        margin-top: 100px !important;
    }

    .packs{
        max-width: 1280px;
    }

    .ponto{
        width: 94%;
        position: relative;
        float: left;
        margin: 0 3%;
        height: 240px;
        border-bottom: solid 8px #fff;
        margin-top: 15px;
    }

    .pontos_img{
        width: 18%;
        position: absolute;
        float: left;
        left: 0;
        bottom: 0;
    }

    .pontos_img{
        width: 18%;
        position: absolute;
        float: right;
        right: 0;
        bottom: 0;
    }

    .pontos_desc{
        width: 85%;
        position: absolute;
        float: right;
        top: 0;
        margin-left: 18%;
        margin-bottom: 15px;
    }

    .pontos_desc_text{
        width: 54%;
        position: relative;
        float: left;
    }

    .pontos_desc_text b{
        font-family: ERASDEMI;
        font-size: 3em;
        color: #fff;
        margin-right: 40px;
    }

    .pontos_desc_text p{
        font-family: ERASMD;
        color: #fff;
        font-size: 1.4em;
    }

    .pontos_desc_price {
        width: 50%;
        position: absolute;
        float: left;
        bottom: -5px;
        margin-left: 16%;
        margin: 0;
        margin-left: 17%;
        right: auto;
    }

    .pontos_desc_price b{
        font-family: ERASDEMI;
        font-size: 3em;
        color: #fff;
        margin-right: 40px;
    }

    .pontos_desc_price c{
        font-family: ERASDEMI;
        font-size: .5em !important;
        color: #fff;
        margin-left: 10px;
    }

    .ponto a{
        width: 150px;
        position: absolute;
        float: right;
        right: 22%;
        bottom: 0;
        padding: 15px !important;
        margin: 10px;
        margin-top: 0;
        font-family: ERASBD !important;
        font-size: 1.5em;
    }

    .m-hulk{
        left: 20px;
    }

    .m-spider{
        right: 20px;
    }

}


/*---------------------------FIM 1280PX--------------------------*/

@media (min-width: 85em){
    .menu_topo{
        width: 906px;
        max-width: none;
        height: 100px;
        margin: 0;
        margin-left: 50%;
        left: -453px;
        top: 500px;
        position: fixed;
        background: none;
        border: none;
        transition: all 0.5s ease !important;
        z-index: 999;
        overflow: hidden;
    }
}
