<div class="content">
    <div class="dir">
        <div class="perfil">
            <%= render partial: 'user/user_nav' %>
            <div class="perfil_desc">
                  <div class="caption rifa">
                      <h3>Editar Perfil</h3>
                      <%= render 'form', profile: @profile %>
                  </div>
              </div>
        </div>
    </div>
</div>
