<div class="esq">
    <ul id="menu_side" class="menu_side">
      <li class='lateral-menu-points'>
        <span class='pull-left'>SEUS PONTOS:</span>
        <span class='pull-right'>500.000</span>
      </li>
      <% Category.fathers.each do |c| %>
        <li class="menu_side_item">
          <%= image_tag(c.icon) %>
          <%= link_to c.name, raffles_categories_path(c) %>

          <% if c.childs.size > 0 %>
            <img class="fa-arrow-down" src="../images/arrow-down.png"/>
            <ul class="menu_side_sub">
            <% c.childs.each do |child| %>
              <li class="menu_side_sub_item">
                <%= link_to child.name, raffles_categories_path(child) %>
              </li>
            <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
