<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar  skin">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="treeview active">
        <a href="#" class="skin">
          <i class="fa fa-edit"></i> <span>Cadastros</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu  skin">
          <li><a href="/packages"><i class="fa fa-circle-o"></i> Pacotes</a></li>
          <li class="active"><a href="/raffles"><i class="fa fa-circle-o"></i> Rifas</a></li>
          <li><a href="/partners"><i class="fa fa-circle-o"></i> Parceiros</a></li>
          <li><a href="/coupons"><i class="fa fa-circle-o"></i> Cupons de Desconto</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
