<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar  skin">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="treeview active">
        <a href="#" class="skin">
          <i class="fa fa-edit"></i> <span>Cadastros</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu  skin">
          <li><a href="/user/index"><i class="fa fa-group"></i> Usuários</a></li>
          <li><a href="/packages"><i class="fa fa-star"></i> Pacotes</a></li>
          <li class="active"><a href="/raffles"><i class="fa fa-ticket"></i> Rifas</a></li>
          <li><a href="/partners"><i class="fa fa-user"></i> Parceiros</a></li>
          <li><a href="/coupons"><i class="fa fa-barcode"></i> Cupons de Desconto</a></li>
        </ul>
        <a href="/newsletters" class="skin">
          <i class="fa fa-envelope-o"></i> <span>Newsletter</span>
          <span class="pull-right-container">
          </span>
        </a>
        <a href="/ticket/index" class="skin">
          <i class="fa fa-eye"></i> <span>Bilhetes vendidos</span>
          <span class="pull-right-container">
          </span>
        </a>
        <a href="/package_transaction/performed_transactions" class="skin">
          <i class="fa fa-dollar"></i> <span>Transações de pacotes</span>
          <span class="pull-right-container">
          </span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
